<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-downinstall" version="3.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>DownInstall</name>
    <js-module name="DownInstall" src="www/DownInstall.js">
        <clobbers target="window.DownInstall" />
    </js-module>
    <platform name="android">
    	<config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
		 	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
		    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
		    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
		    <uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER" />
		    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
            <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
            <uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER" />
            <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
        </config-file>

        <config-file target="AndroidManifest.xml" parent="application">
            <provider
                android:name="com.dmc.installAPK.DmcInstallFileProvider"
                android:authorities="${applicationId}.dmcInstall"
                android:grantUriPermissions="true"
                android:exported="false">
                <meta-data
                    android:name="android.support.FILE_PROVIDER_PATHS"
                    android:resource="@xml/file_dmc_install_paths" />
            </provider>
        </config-file>
         <source-file src="src/android/file_dmc_install_paths.xml" target-dir="res/xml" />
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="InstallApk">
                <param name="android-package" value="com.dmc.installAPK.DownInstall" />
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml"></config-file>
        <source-file src="src/android/DownInstall.java" target-dir="src/com/dmc/installAPK" />
        <source-file src="src/android/DmcInstallFileProvider.java" target-dir="src/com/dmc/installAPK" />
        <framework src="com.android.support:support-v4:26.0.0-alpha1"/>
    </platform>
</plugin>